.main-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (min-width:$tablet){
    .main-contacto{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        justify-items: center;
        
    }
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $espacio-chico;

    .campos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}

.botones-form{
    border: solid 1px $color-secundario;
    width: 200px;
    padding: $espacio-mini;
    border-radius: 10px;
    background-color: $color-terciario;
    font-weight: bold;
    
    &:hover{
        background-color: $color-primario;
        color: $color-terciario;
    }
}

iframe{
    max-width: 100%;
}
textarea{
    height: 150px;
    width: 200px;
}