/*paleta de colores*/
$color-primario:#000;
$color-secundario: #b2b2b2;
$color-terciario: yellow;


/*fuentes*/
$fuente-principal:'Roboto', sans-serif;
$fuente-chica: 14px;
$fuente-media:20px;
$fuente-grande: 60px;


/*RESOLUCION DE PANTALLA*/
$tablet: 768px;
$desktop:992px;
$desktopXG: 1200px;

/*separaciones (margenes y paddings)*/
$espacio-mini:10px;
$espacio-chico:20px;
$espacio-medio:40px;
$espacio-grande: 60px;



